MYTHWEAVER_DATA_DIR=
MYTHWEAVER_OUTPUT_DIR=
MYTHWEAVER_CACHE_DB=
MYTHWEAVER_MODRINTH_USER_AGENT=github_user/MythWeaver/0.1.0
MYTHWEAVER_PRISM_PATH=
MYTHWEAVER_PRISM_ROOT=
MYTHWEAVER_PRISM_PROFILE=
MYTHWEAVER_PRISM_EXECUTABLE_PATH=
MYTHWEAVER_PRISM_INSTANCES_PATH=
MYTHWEAVER_PRISM_ACCOUNT_NAME=
MYTHWEAVER_LAUNCH_TIMEOUT_SECONDS=300
MYTHWEAVER_JAVA_PATH=
MYTHWEAVER_VALIDATION_ENABLED=false
MYTHWEAVER_AI_BASE_URL=
MYTHWEAVER_AI_API_KEY=
MYTHWEAVER_AI_MODEL=
